.navigation-wrapper {
  border-bottom: solid 5px $my-red;
  overflow: hidden;
  vertical-align: middle;
  background-color: #fff;
}

h2.fondacija {
    margin-left: 0.3em;
    font-weight: 600;
    position: relative;

  @include sm {
    font-size: 1.1rem;
   
    right: 0.5em;
  }

  @include lg {
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-right: 0.7em
  }

  @include rwd(767px) { 
    font-size: 1.4rem;
    margin-top: 0.3em;
  }
}

h2.volontiraj {
 
  @include xs {
    color: #fff;
    text-align: center;
    margin-top: 0.3em;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  @include sm {
    padding-top: 2.8em;
    padding-right: 0.7em;
    font-size: 0.7rem;
  }

  @include md {
    font-size: 1rem;
  }

  @include lg {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 700;
  }

  @include rwd(601px) {
    position: relative;
    bottom: 0.7em; 
  }

  @include rwd(767px) {
   position: relative;
   bottom: 1.1em;
   font-weight: bold;

  }
}

img.logo {
 
    position: relative;
    right: 1em;
  

  @include sm {
    height: 4.5em;
    position: relative;
    right: 3em;
    top: 0.5em;
  }

  @include rwd(601px) {
    position: relative;
    bottom: 0.2em;
  }



  @include md {
    height: 5em;
    position: relative;
    right: 2.7em;
    top: 0.4em;
  }

  @include lg {
    height: 5.5em;
    position: relative;
    top: 0.3em;
  }
}





a.nav-link {

  text-transform: uppercase;


  @include sm {
    font-size: 0.9rem;
  }

  @include lg {
    padding-top: 1.5em;
    color: black;
    font-weight: 400;
    font-size: 0.9rem;
    margin-right: 0.85rem;
   
  }

  @include rwd(1109px) {
    font-size: 1rem;
    margin-right: 1.6rem; 
  }

}



.right {
 background-color: $my-red;
}
