h2.latest{
    font-family: $font-poppins;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bolder;
    padding-top: 6rem;
    padding-bottom: 3rem; 

}

i.far.fa-heart.fa-1x {
    padding-left: 1.8em;
    color: $my-red;
}

span.3 {
    padding-left: 0.6rem;
}

span.writte {
    padding-left: 1.5rem;
}