h2.latest{
    font-family: $font-poppins;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bolder;
    padding-top: 6rem;
    padding-bottom: 3rem; 

}

i.far.fa-heart.fa-1x {
    padding-left: 1.8em;
    color: $my-red;
}

span.3 {
    padding-left: 0.6rem;
}

span.writte {
    padding-left: 1.5rem;
}

button.more {
    background-color: $my-red;
    border: solid $my-red 1px;
    border-radius: 1px;
    width: 10em;
    height: 2.8em;
    margin-top: 5rem;
    margin-left: 4rem;
    

   
}

span.read {
    color: #fff;
    font-family: $font-poppins;
}


    button.more {
        margin-left: 4rem;
    }


.container-fluid.green {
    background-color: $my-green;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

h2.veliki {
    text-align: center;
    color: #fff;
    font-weight: 400;
}

h5.isidora {
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    font-family: $font-nunito;
}


@media (max-width: 567px) {
    .card {
        margin-left: 5rem;
    }
    
    button.more {
        margin-left: 11rem;
    }

    h5.isidora {
        margin-left: 5.5em;
    }
}
