div.container-fluid.gren {
    background-color: $my-green;
    margin-top: 6em;
    @include xs {
        margin-top: 15em;
    }
    @include sm {
        margin-top: 6em;     
    }
}

h1.uci {
    text-align: center;
    color: #fff;
    font-size: 4.1rem;
    padding: 0.5em 0 0.5em 0;
}

h1.involved {
    text-align: center;
    margin-top: 1.5em;
    
    
}

p.click {
   margin-top: 1em;
   text-align: center;
   margin-right: 3em;
  
}

button.see {
    background-color: $my-red;
    border: 1px $my-red solid;
    color: #fff;
    padding: 0.4em 1.4em 0.4em 1.4em;
    font-size: 1.1em;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    

}

button.see:hover {
    background-color: #A1483A;
}

img.volontiranje {
    height: 32em;
    width: 105%;
    overflow: hidden;
    position: absolute;
    right: 0.01em;
    
    margin-top: 2em;
    
}

.container.dnt {
    margin-top: 33em;
    margin-bottom: 2em;
}

h1.make {
    text-align: center;
    margin-top: 2em;
}

p.here {
    text-align: center;
}
    
div.col-sm-4.lft {
    background-color: $my-red;
    text-align: center;
    padding: 4.2em 0 3em 0;
}

i.far.fa-user {
    color: #fff;
}

h2.person {
    color: #fff;
    margin-top: 0.2em;
}

p.terry {
    color: #fff;
    font-size: 0.9rem;
}

  
div.col-sm-4.cntr {
    background-color: $my-blue;
    text-align: center;
    padding: 4.3em 0 3em 0;
}

i.fas.fa-globe {
    color: #fff;
}

button.click { 
    background-color: #fff;
    border: 1px solid #fff;
    color: $my-blue;
    padding: 0.3em 1em 0.3em 1em;
}

button.click:hover {
    background-color: #77893F;
    border: 1px solid #77893F;
    color: #fff;
}

div.col-sm-4.rght {
    background-color: $my-green;
    text-align: center;
    padding-top: 4.4em;
    
}

i.fas.fa-phone {
    color: #fff;
}
