.container-fluid.evnt {
background-color: #B3CE5E;
margin-top: 6em;
text-align: center;
padding-top: 2em;
padding-bottom: 2em;
}

h1.event {
    color: #fff;
    font-size: 4.5rem;
}
.container-fluid.cntrg {
    background-color: #B3CE5E;
    text-align: center;
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

h3.need {
    color: #fff;
}

button.donate2 {
    background-color: #fff;
    border: 1px solid #fff;
    color: #B3CE5E;
    padding: 0.4em 1.4em 0.4em 1.4em;
    margin-top: 0.7em;
}